<div class="chart-container">
  <h2 class="charttitle">Initial Investment vs Follow-on Invetsment</h2>
  <div class="row">
      <div class="column" style="background-color:#ffff;">
          <p class="parah1">29,087,900</p>
          <p class="parah2">Initial Investment</p>
      </div>
      <div class="column" style="background-color:#ffff;">
        <p class="parah1">19,097,600</p>
        <p class="parah2">Follow-on Investment</p>
      </div>
    </div>
    <canvas  id="MyChart" >{{ chart }}</canvas>
</div>