<router-outlet>
        <app-home style="display: flex; position: absolute;"></app-home>
</router-outlet>
    
    <!-- <mat-sidenav class="mat-elevation-z8">
        <mat-sidenav class="mat-elevation-z8">
            <button mat-button class="menu-button">
                <mat-icon>home</mat-icon>
                <span>Home</span>
            </button>
            <button mat-button class="menu-button">
                <mat-icon>person</mat-icon>
                <span>Profile</span>
            </button>
            <button mat-button class="menu-button">
                <mat-icon>info</mat-icon>
                <span>About</span>
            </button>
    
            <mat-divider></mat-divider>
    
            <button mat-button class="menu-button">
                <mat-icon>help</mat-icon>
                <span>Help</span>
            </button>
    
        </mat-sidenav>

    </mat-sidenav>
    
    <mat-sidenav-container>
        <mat-sidenav>
        </mat-sidenav>
        <mat-sidenav-content>
            <div class="content mat-elevation-z8">
                <div class="parent-box">
                    <div class="wrap">
                        <div class="item"><h1>TPI</h1><h2>6789</h2></div>
                        <div class="item"></div>
                        <div class="item"></div>
                        <div class="item"></div>
                        <div class="item"></div>
                        <div class="item"></div>
                      </div>
                    <div class="container-box">
                        <div class="outer"><app-bar-chart></app-bar-chart></div>
                        <div class="outer"><app-lp-called-capital></app-lp-called-capital></div>
                    </div>
                    <div class="container-box">
                        <div class="outer"><net-cash-flow></net-cash-flow></div>
                        <div class="outer"><app-gross-irr></app-gross-irr></div>
                        </div>
                    <div class="container-box">
                        <div class="outer"><app-capital-deployed></app-capital-deployed></div>
                        <div class="outer"><app-tvpi></app-tvpi></div>
                    </div>
                </div>
            </div>
        </mat-sidenav-content>
    </mat-sidenav-container> -->