<div class="parent-box">
    <!-- <div class="wrap">
        <div class="item"><h1>TPI</h1><h2>6789</h2></div>
        <div class="item"></div>
        <div class="item"></div>
        <div class="item"></div>
        <div class="item"></div>
        <div class="item"></div>
      </div> -->
    <div class="container-box">
        <div class="outer"><app-bar-chart></app-bar-chart></div>
        <div class="outer"><app-lp-called-capital></app-lp-called-capital></div>
    </div>
    <div class="container-box">
        <div class="outer"><net-cash-flow></net-cash-flow></div>
        <div class="outer"><app-gross-irr></app-gross-irr></div>
        </div>
    <div class="container-box">
        <div class="outer"><app-capital-deployed></app-capital-deployed></div>
        <div class="outer"><app-tvpi></app-tvpi></div>
    </div>
    <div class="container-box">
        <div class="outer"><app-investment-month></app-investment-month> </div>
        <div class="outer"><app-return-month></app-return-month> </div>
    </div>
        <div class="container-box">
        <div class="outer"><app-new-investment></app-new-investment> </div>
        <div class="outer"><app-tier-return></app-tier-return> </div>
    </div>
</div>