<div class="parent-box">
    <div class="container-box">
        <div class="outer"><app-tvpi></app-tvpi></div>
        <div class="outer"><app-capital-deployed></app-capital-deployed></div>
        
    </div>
    <div class="container-box">
        <div class="outer"><app-portfolio-value></app-portfolio-value></div>
        <div class="outer"><app-net-irr></app-net-irr></div>
        <!-- <div class="outer"><net-cash-flow></net-cash-flow></div> -->
        </div>
    <div class="container-box">
        <div class="outer"><cumm-net-cash-flow></cumm-net-cash-flow></div>
        <div class="outer"><app-gross-irr></app-gross-irr></div>
    </div>
    <div class="container-box">
        <div class="outer"><app-lp-called-capital></app-lp-called-capital></div>
        <div class="outer"><app-initial-investment></app-initial-investment></div>
    </div>
    <div class="container-box">
        <div class="outer"><app-investment-month></app-investment-month> </div>
        <div class="outer"><app-return-month></app-return-month> </div>
    </div>
        <div class="container-box">
        <div class="outer"><app-new-investment></app-new-investment> </div>
        <div class="outer"><app-tier-return></app-tier-return> </div>
    </div>
</div>