
<div class="chart-container">
    <h2 class="charttitle">TVPI</h2>
    <div class="row">
        <div class="column" style="background-color:#ffff;">
            <p class="parah1">2.5x</p>
            <p class="parah2">TVPI Gross</p>
        </div>
        <div class="column" style="background-color:#ffff;">
            <p class="parah1">2.0x</p>
            <p class="parah2">TVPI Net</p>
        </div>
        <div class="column" style="background-color:#ffff;">
            <p class="parah1">1.5x</p>
            <p class="parah2">RVPI</p>
        </div>
        <div class="column" style="background-color:#ffff;">
            <p class="parah1">1.0x</p>
            <p class="parah2">DPI</p>
        </div>
      </div>
    <canvas  id="TVPIChart" >{{ chart }}</canvas>
</div>
