<div class="chart-container">
    <h2 class="charttitle">Net IRR</h2>
    <div class="row">
        <div class="column" style="background-color:#ffff;">
            <p class="parah1">250%</p>
            <p class="parah2">Combined</p>
        </div>
        <div class="column" style="background-color:#ffff;">
            <p class="parah1">100%</p>
            <p class="parah2">Realized</p>
        </div>
        <div class="column" style="background-color:#ffff;">
            <p class="parah1">20%</p>
            <p class="parah2">Unrealized</p>
        </div>
    </div>
    <canvas  id="MyNetIRRChart" >{{ chart }}</canvas>
</div>