* {
    box-sizing: border-box;
  }
  /* Create two equal columns that floats next to each other */
  .column {
    float: left;
    width: 25%;
    padding: 1px;
    height: 70px; /* Should be removed. Only for demonstration */
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  .parah1 {
    padding-top: 10px;
    padding-right: 20px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 10px;
    font-weight : bold;
    text-align: right;
  }


  .parah2 {
    font-size: 10px;
    padding-right: 20px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 10px;
    font-weight : normal;
    text-align: right;
    }


  .charttitle {
    font-size: 20px;
    padding-left: 20px;
    padding-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 10px;
    font-weight : normal;
    text-align: left;
    }