<div class="chart-container">
    <h2 class="charttitle">Portfolio Value</h2>
    <div class="row">
        <div class="column" style="background-color:#ffff;">
            <p class="parah1">250.0M</p>
            <p class="parah2">Total</p>
        </div>
        <div class="column" style="background-color:#ffff;">
            <p class="parah1">100.0M</p>
            <p class="parah2">Realized</p>
        </div>
        <div class="column" style="background-color:#ffff;">
            <p class="parah1">20.0M</p>
            <p class="parah2">Unrealized</p>
        </div>
    </div>
    <canvas  id="MyPortfolioChart" >{{ chart }}</canvas>
</div>